@charset "utf-8";
/* CSS Document */

.cls { clear:both; font-size:1px; height:1px; overflow:hidden;}
html {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
applet {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
object {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
abbr {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
acronym {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
big {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
cite {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
del {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dfn {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ins {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
kbd {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
small {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
strike {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
strong {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
sub {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
sup {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
tt {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
var {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
u {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
i {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
center {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
legend {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
tbody {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
tfoot {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
thead {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
article {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
aside {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
canvas {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
details {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
embed {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
figure {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
figcaption {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
footer {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
header {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
hgroup {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
menu {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
nav {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
output {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ruby {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
section {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
summary {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
time {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
mark {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
audio {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
video {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
input {
	margin: 0px; padding: 0px; font-family: inherit; font-size: 100%;
}
button {
	margin: 0px; padding: 0px; font-family: inherit; font-size: 100%;
}
textarea {
	margin: 0px; padding: 0px; font-family: inherit; font-size: 100%;
}
button {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
html {
	height: 100%; min-width: 960px;
}
body {
	height: 100%; min-width: 960px;
}
body,html {margin:0;padding:0;}
body { font-family:Calibri,宋体, Arial, Helvetica, sans-serif;}
img{border:0;}
#logo { width:920px; margin:0 auto;margin-top:10px; position:relative;}
#lang { position:absolute; right:10px; bottom:2px;}
#lang a{ padding:0 5px; float:left; text-decoration:none; color:#333; font-size:14px;}
#lang a:hover { color:#06C;}

.topBg {padding: 30px 0px 40px; margin-bottom: 60px;border-top:#e5e5e5 1px solid;border-bottom:#e5e5e5 1px solid; background:#1d4c7c;}
.loginDiv { width:920px; margin:0 auto; background:url(../images/login_bg.png) no-repeat left top; height:334px;}
.cls { clear:both; font-size:1px; height:1px; overflow:hidden;}
#login {width:300px; float:right;}
.login_input { width:295px; border-radius:10px; margin-bottom:10px;}
.login_btn { background:url(../images/btn_bg.jpg) repeat-x; height:40px; line-height:40px; border-radius:10px; border:#4a993e 1px solid; text-align:center; font-family:microsoft yahei, Gadget, sans-serif; font-size:18px; color:#fff; width:100%; cursor:pointer;text-shadow: #000 0 1px 0; margin:10px auto;}
.login_btn:hover { background:url(../images/btn_bgHover.jpg) repeat-x;}

.content_right{float:left;}
.adPic {width:627px; float:left; text-align:center;margin-top:80px;}
.adPic img{margin:0 auto;}
.adPic p{line-height:20px; color:#fff;padding:5px 20px;text-align:left;font-size:12px;}



.container {
	margin: 0px auto; width: 920px;position:relative;
}

.button-block {
	width: 100%; text-align: center; display: block; box-sizing: border-box; -moz-box-sizing: border-box;
}
.logged_in .jumbotron {
	text-align: center;
}
.logged_in .jumbotron .subheading {
	margin-right: 10%; margin-bottom: 20px; margin-left: 10%;
}
.home-signup {
	width: 290px;  float: right;margin-top:30px;
}
.home-signup dl.form {
	margin: 0px 0px 10px 0; position: relative;
}
.home-signup dl.form dd input {
	padding: 9px; border-radius: 5px; width: 100%; font-size: 16px;
}
.home-signup button.primary {
	padding: 9px; border-radius: 5px; width: 100%; font-size: 16px;
}
.home-signup dl.form dd input {
	background-color: rgb(255, 255, 255);
}
.home-signup dl.errored.form dd.error {
	left: 0px; top: 100%; right: 10%; border-top-color: rgba(255, 255, 255, 0.25); position: absolute; z-index: 5;
}
.home-signup dl.errored.form dd.warning {
	left: 0px; top: 100%; right: 10%; border-top-color: rgba(255, 255, 255, 0.25); position: absolute; z-index: 5;
}
.home-signup dl.errored.form dd:empty.error {
	display: none;
}
.home-signup dl.errored.form dd:empty.warning {
	display: none;
}
.home-signup dl.form > dd input.is-autocheck-errored {
	background-position: 97.5%;
}
.home-signup dl.form > dd input.is-autocheck-loading {
	background-position: 97.5%;
}
.home-signup dl.form > dd input.is-autocheck-successful {
	background-position: 97.5%;
}
.home-signup dl.form dd p.note {
	color: rgb(153, 153, 153); margin-top: 7px;
}
.home-signup p.plans {
	text-align: center; font-size: 11px; margin-bottom: 0px;
}
.home-signup .signup-agreement {
	color: rgb(119, 119, 119); font-size: 12px;
}
.teasers {
	text-align: center; overflow: hidden; margin-bottom: 30px;
}
.teasers .teaser {
	width: 290px; float: left;
}
.teasers .teaser + .teaser {
	margin-left: 25px;
}
.teasers .teaser-illustration {
	margin-bottom: 10px;
}
.teasers h3 {
	padding-right: 10px;
}
.teasers p {
	padding-right: 10px;
}
.teasers h3 {
	margin: 0px 0px 9px; color: rgb(42, 42, 42); line-height: 1.1; font-size: 16px; font-weight: bold;
}
.teasers p {
	margin: 0px 0px 10px; color: rgb(90, 90, 90); font-size: 15px;
}
.plans-pricing-callout {
	margin: 60px 0px 40px; padding: 30px; border-radius: 5px; text-align: center; color: rgb(72, 85, 59); line-height: 1.4; font-size: 18px; box-shadow: inset 0px -1px 1px #d6ecc0; background-color: rgb(240, 248, 232); text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.plans-pricing-callout .mega-icon {
	margin-top: -4px; vertical-align: middle;
}






.textfield {width:270px !important; border:#ccc 1px solid;}
dl.form {
	margin: 15px 0px;
}
dl.form input[type='text'] {
	background-color: rgb(250, 250, 250);
}
dl.form #adv_code_search .search-page-label {
	background-color: rgb(250, 250, 250);
}
.form dt { color:#fff;}
.form dt { color:#fff;}
.form dt a { color:#fff; }
.form dt a:hover { color:#093; }
#adv_code_search dl.form .search-page-label {
	background-color: rgb(250, 250, 250);
}
dl.form input[type='password'] {
	background-color: rgb(250, 250, 250);
}
dl.form input[type='email'] {
	background-color: rgb(250, 250, 250);
}
dl.form textarea {
	background-color: rgb(250, 250, 250);
}
dl.form input[type='text']:focus {
	background-color: rgb(255, 255, 255);
}
dl.form .focused .drag-and-drop {
	background-color: rgb(255, 255, 255);
}
.focused dl.form .drag-and-drop {
	background-color: rgb(255, 255, 255);
}
dl.form #adv_code_search .search-page-label:focus {
	background-color: rgb(255, 255, 255);
}
#adv_code_search dl.form .search-page-label:focus {
	background-color: rgb(255, 255, 255);
}
dl.form input[type='password']:focus {
	background-color: rgb(255, 255, 255);
}
dl.form input[type='email']:focus {
	background-color: rgb(255, 255, 255);
}
dl.form textarea:focus {
	background-color: rgb(255, 255, 255);
}
dl.form > dt {
	margin: 0px 0px 6px;
	float:left;
}
dl.form > dt label {
	position: relative;
}
dl.flattened.form > dt {
	margin: 0px; line-height: 32px; float: left;
}
dl.flattened.form > dd {
	line-height: 32px;
}
dl.form > dd input[type='text'] {
	width: 400px; margin-right: 5px;
}
dl.form > dd #adv_code_search .search-page-label {
	width: 400px; margin-right: 5px;
}
#adv_code_search dl.form > dd .search-page-label {
	width: 400px; margin-right: 5px;
}
dl.form > dd input[type='password'] {
	width: 400px; margin-right: 5px;
}
dl.form > dd input[type='email'] {
	width: 400px; margin-right: 5px;
}
dl.form > dd input[type='text'].short {
	width: 250px;
}
dl.form > dd #adv_code_search .search-page-label.short {
	width: 250px;
}
#adv_code_search dl.form > dd .search-page-label.short {
	width: 250px;
}
dl.form > dd input[type='password'].short {
	width: 250px;
}
dl.form > dd input[type='email'].short {
	width: 250px;
}
dl.form > dd input[type='text'].shorter {
	width: 130px;
}
dl.form > dd #adv_code_search .search-page-label.shorter {
	width: 130px;
}
#adv_code_search dl.form > dd .search-page-label.shorter {
	width: 130px;
}
dl.form > dd input[type='password'].shorter {
	width: 130px;
}
dl.form > dd input[type='email'].shorter {
	width: 130px;
}
dl.form > dd input[type='text'].long {
	width: 100%;
}
dl.form > dd #adv_code_search .search-page-label.long {
	width: 100%;
}
#adv_code_search dl.form > dd .search-page-label.long {
	width: 100%;
}
dl.form > dd input[type='password'].long {
	width: 100%;
}
dl.form > dd input[type='email'].long {
	width: 100%;
}
dl.form > dd input[type='text'].is-autocheck-loading {
	background-image: url("../images/octocat-spinner-16px.gif");
}
dl.form > dd #adv_code_search .search-page-label.is-autocheck-loading {
	background-image: url("../images/octocat-spinner-16px.gif");
}
#adv_code_search dl.form > dd .search-page-label.is-autocheck-loading {
	background-image: url("../images/octocat-spinner-16px.gif");
}
dl.form > dd input[type='password'].is-autocheck-loading {
	background-image: url("../images/octocat-spinner-16px.gif");
}
dl.form > dd input[type='email'].is-autocheck-loading {
	background-image: url("../images/octocat-spinner-16px.gif");
}
dl.form > dd input[type='text'].is-autocheck-successful {
	background-image: url("../images/success.png");
}
dl.form > dd #adv_code_search .search-page-label.is-autocheck-successful {
	background-image: url("../images/success.png");
}
#adv_code_search dl.form > dd .search-page-label.is-autocheck-successful {
	background-image: url("../images/success.png");
}
dl.form > dd input[type='password'].is-autocheck-successful {
	background-image: url("../images/success.png");
}
dl.form > dd input[type='email'].is-autocheck-successful {
	background-image: url("../images/success.png");
}
dl.form > dd input[type='text'].is-autocheck-errored {
	background-image: url("../images/error.png?7e6ca0e6");
}
dl.form > dd #adv_code_search .search-page-label.is-autocheck-errored {
	background-image: url("../images/error.png?7e6ca0e6");
}
#adv_code_search dl.form > dd .search-page-label.is-autocheck-errored {
	background-image: url("../images/error.png?7e6ca0e6");
}
dl.form > dd input[type='password'].is-autocheck-errored {
	background-image: url("../images/error.png?7e6ca0e6");
}
dl.form > dd input[type='email'].is-autocheck-errored {
	background-image: url("../images/error.png?7e6ca0e6");
}
dl.form > dd textarea {
	width: 100%; height: 200px; min-height: 200px;
}
dl.form > dd textarea.short {
	height: 50px; min-height: 50px;
}
dl.form > dd p.note {
	margin: 4px 0px 2px; color: rgb(119, 119, 119); font-size: 12px; min-height: 17px;
}
dl.form > dd p.note .spinner {
	margin-right: 3px; vertical-align: middle;
}
dl.form > dd h4 {
	margin: 4px 0px 0px;
}
dl.form > dd h4.is-error {
	color: rgb(189, 44, 0);
}
dl.form > dd h4.is-success {
	color: rgb(108, 198, 68);
}
dl.form > dd h4 + p.note {
	margin-top: 0px;
}
dl.required.form > dt > label::after {
	color: rgb(159, 16, 6); padding-left: 5px; content: "*";
}


#footer {
	margin: 40px 0px 0px; color: rgb(119, 119, 119); line-height: 1.5; font-size: 12px; position: relative; text-shadow: 0 1px 0 #fff;
}
#footer .container {
	padding: 20px 0px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
#footer .right {
	margin: 0px;
}
.right {
	 height:41px; line-height:41px; position:absolute; left:340px; top:20px;
}
.footer_right { float:right; width:200px;}
.footer_right a{ display:block; padding:0 10px; height:40px; line-height:40px; float:left; color:#333; text-decoration:none;}
.footer_right a:hover{ color:#000; text-decoration:underline;}
ul#legal {
	list-style: none; margin: 0px; height:41px; line-height:41px;
}
ul#legal li {
	 display: inline-block; line-hight:41px; height:41px; vertical-align:middle; float:left;
}
ul#legal li a{vertical-align:middle;line-hight:41px; height:41px; }
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
